@import "./common.less";

    .content-wrapper {
        position: absolute;
        width: 100%;
        align-items: center;
    }

    .appointment-card {
        // margin: 0 auto;
        left: 0;
        right: 0;
    }

    .buttons-container {
        width: 100%;
        .flex-row();
        align-items: flex-end;
        justify-content: space-around;
        padding: 0 80rpx;
        margin-top: 70rpx;
    }

    .button {
        flex: 1;
        align-items: center;
        color: #666666;
        font-size: 28rpx;
    }

    .content-wrapper {
        width: 100%;
        align-items: center;
        margin-top: 200rpx;
    }

    .icon-container {
        width: 80rpx;
        height: 80rpx;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0 2rpx 4rpx rgba(0, 0, 0, 0.1);
        margin-bottom: 20rpx;
        .double-center();

    }
            .button-icon {
                width: 38rpx;
                height: 38rpx;
            }

    .mutation-btn {
        width: 80rpx !important;
        height: 80rpx !important;
    }

    .backToHome {
        position: absolute;
        bottom: -110rpx;
        width: 100%;
        color: #999999;
        font-size: 30rpx;
        text-decoration: underline;
        text-align: center;
    }

    @skyblue: #3B99FC;
    .tip {
        display: inline-block;
        white-space: nowrap;
        color: white;
        font-size: 26rpx;

        padding: 15rpx 26rpx;
        border-radius: 10rpx;
        margin-bottom: 22rpx;
        background-color: @skyblue;

    }
            .foot {
                position: absolute;
                bottom: -8rpx;
                left: 0;
                right: 0;
    
                width: 20rpx;
                height: 20rpx;
    
                // margin: 0 auto;
                background-color: @skyblue;
    
                transform: rotate(45deg);
            }